body{
    margin: 0;
    padding: 0;
}

header{
    width: 76%;
    padding: 0px 12%;    
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav p{
    justify-self: flex-start;
    font-family: 'pacifico';
    color: #16A7D4;
    
}
nav li{
    display: inline-flex;
    padding-left: 90px;
    list-style: none;
    transform: Uppercase;
    font-size: 20px;
}

nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
    font-weight: 400;
    color: #08041F;
}

nav li a:hover{
    color: #0088a9;
}
nav li a:active{
    color: #0088a9;
}

p { 
    font-size: 30px;
    margin-right: auto;
    padding-left: 20px;
}

.container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 10%; 
}

.shape{
    width:15rem;
    height: 15rem;
    border-radius: 50%;
    overflow:hidden;
    position: relative;
    margin: 90px 0 0 70px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}
.img{
    height: 100%;
    transform: translateX(-2rem) scale(1.5);
    transition: all .5s;
}


.img:hover{
    transform: translateX(-2rem) scale(1);
}

.section{
    width: 40%;
}

.section h1{
    color: #16A7D4;
    font-family: 'pacifico';
    font-size: 42px; 
}
.section h2{
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 32px; 
}

.section p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 0 0;
}

button{
    background-color: #16A7D4;
    border-radius: 10px;
    position: absolute;
    font-family: 'Roboto';
    font-size: 20px;
    border: none;
    width: 100px;
    height: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}
button:active,
button:hover {
    background-color: #fff;
    color: #16A7D4;
    border: 5px solid;
    font-family: 'Roboto';
    font-size: 20px;
}

.icons{
    display: inline-block;
    margin: 70px 15% 20px 15%;    
}
.fb{
    margin-right: 20px;
}
.tw{
    margin-right: 20px;
}
.ln{
    margin-right: 20px;
}